body {
   
}
div {
    font-size:100%;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    max-width: 800px;
    color: blue;
    margin: 0 auto;
    font-family: sans-serif;
    padding: 30px 20px;
    background-color: white;
}
